<launch>
 
  <!--include file="$(find turtlebot_bringup)/driver.launch"  /-->
  <!-- this just launched the turtlebot_node, as below /-->

  <node pkg="turtlebot_node" type="turtlebot_node.py" name="turtlebot_node" output="screen" respawn="true" args="--respawnable">
    <param name="bonus" value="false" />
    <param name="update_rate" value="30.0" />
    <param name="cmd_vel_timeout" value="5.0" />
  </node>
  
  <node pkg="createControl" type="createControl" name="createControl" >
  </node>
  
</launch>
