<launch>

  <param name="pan_tilt_camera" value="/dev/primarycam"/>
  <param name="lower_camera" value="/dev/navcam"/>

  <node pkg="turtlebot_node" type="turtlebot_node.py" name="turtlebot_node" output="screen" respawn="true" args="--respawnable">
    <param name="bonus" value="false" />
    <param name="update_rate" value="30.0" />
    <param name="cmd_vel_timeout" value="5.0" />
  </node>
  
  <node pkg="createControl" type="createControl" name="createControl" >
  </node>
   
</launch>
